.launch-btn {
    margin: 2rem 5rem;
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    border: 1px solid #1B402E;
    margin-top: 1rem;
    padding: 0.8rem;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 1rem;
    background-color: #1B402E;
    border: none;
    border-radius: 3px;
    background-color: #1B402E;
    cursor: pointer;
    margin-bottom: 1rem;
}
