html, body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 384px;
    background-color: #393A41;
    border-radius: 3px;
}

h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #FEFEFE;
}
img {
    width: 30px;
}


/* Record/Stop button styling */
.launch-btn {
    border: 1px solid #1B402E;
    padding: 1rem;
    margin: 1rem 1rem;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 1rem;
    background-color: #1B402E;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.launch-btn:hover {
    color: #1B402E;
    background-color: #FEFEFE;
    text-align: center;
}

.icon-btn {
    margin-right: 1rem;
}

.stop-btn {
    border: 1px solid #b71a3b;
    padding: 1rem;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 1rem;
    background-color: #b71a3b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.stop-btn:hover {
    color: #b71a3b;
    background-color: #FEFEFE;
    text-align: center;
}

.modal-header {
    align-items: center;
    border-bottom: 0.7px solid #FEFEFE;
    text-align: center;
    border-radius: 3px;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}
.version {
    color: #C6C6C6;
    font-size: 18px;
}

/* Export button styling */
.export-btn {
    margin: 1rem 0rem;
    border: 1px solid #11988D;
    padding: 0.9rem;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 1rem;
    background-color: #11988D;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.export-btn:hover {
    color: #11988D;
    background-color: #FEFEFE;
    text-align: center;
}